<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script> -->
    <footer>
        <div><img class="logo-footer" src="/images/logo_small.png" alt="logo"></div>
        <div class="footer-content-block">
            <ul class="nobullets">
                <li><a href="">Our Services</a></li>
                <li><a href="">Industry Expertise</a></li>
                <li><a href="">Business Functions</a></li>
                <li><a href="">Technology</a></li>
                <li><a href="">SaaS</a></li>
            </ul>
            <ul class="nobullets">
                <li><a href="">Case Studies</a></li>
                <li><a href="">Latest News</a></li>
                <li><a href="">Articles</a></li>
                <li><a href="">SME Blogs</a></li>
            </ul>
            <div>
                <ul class="nobullets">
                    <li><a href="">Our Philosophy</a></li>
                    <li><a href="">Our Partnership</a></li>
                    <li><a href="">Our Team</a></li>
                </ul>
                <ul class="nobullets">
                    <li><a href="">Life at Selise</a></li>
                    <li><a href="">Join the Team</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright-block">
            <div id="copyright">© 2023 Secure Link Services AG. All Rights Reserved.</div>
            <div class="footer-tos">
                <div>
                    <div>Terms and Conditions</div>
                    <div>Privacy Policy</div>
                </div>
                <div>
                    <div>soc1</div>
                    <div>soc2</div>
                    <div>soc3</div>
                    <div>soc4</div>
                    <div>soc5</div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>