<%- include("./partials/header.ejs", {navlinksMain: navlinksMain}) %>
    <h1>Test <%= navlinksMain[currentUrl] %> page</h1>
    <section id="hero"></section>
    <section id="what-we-do"></section>
    <section id="selected-customers"></section>
    <section id="ordermonkey"></section>
    <section id="strategic-partners"></section>
    <section id="latest-updates"></section>
    <section id="sme-blogs"></section>
    <section id="customer-case-studies"></section>
<%- include("./partials/footer.ejs") %>