<%- include("./partials/header.ejs", {navlinksMain: navlinksMain}) %>
    <main>
        <section id="home-hero">
            <!-- <div class="hero-bg"> -->
                <div class="section-content home-hero-content">
                    <div class="hero-subtitle home-hero-subtitle">We are a global organisation of</div>
                    <div class="hero-title home-hero-title">Digital Consultants, Software & UX Engineers</div>
                    <div class="hero-subtitle home-hero-subtitle">We deliver and manage outcome-driven Digital Platforms</div>
                </div>
            <!-- </div> -->
        </section>
        <section id="what-we-do">
        </section>
        <section id="selected-customers">
            <div class="sliding-arrow">&lt;</div>
            <div class="section-content">
                <div class="slides-left">
                    <div class="slide-logo">Logos</div>
                    <div class="slide-content">
                        <div class="slide-subtitle">Selected Customers in</div>
                        <div class="slide-title">Insurance, Finance & Health</div>
                    </div>
                </div>
                <div class="slides-index">
                    <div class="slide-button" id="slide11"></div>
                    <div class="slide-button" id="slide12"></div>
                    <div class="slide-button" id="slide13"></div>
                    <div class="slide-button" id="slide14"></div>
                </div>
            </div>
            <div class="sliding-arrow">&gt;</div>
        </section>
        <section id="ordermonkey"></section>
        <section id="strategic-partners">
            <div class="sliding-arrow">&lt;</div>
            <div class="section-content">
                <div class="slides-right">
                    <div class="slide-content">
                        <div class="slide-subtitle">Our Strategic</div>
                        <div class="slide-title">Technology Partners</div>
                    </div>
                    <div class="slide-logo">Logos</div>
                </div>
                <div class="slides-index">rgr</div>
            </div>
            <div class="sliding-arrow">&gt;</div>
        </section>
        <section id="latest-updates">
            <div class="section-content">
                <div class="article-section-title"><a href="">Latest Updates ↗</a></div>
                <div class="article-section-items">
                    <div class="article-card-home"></div>
                    <div class="article-card-home"></div>
                    <div class="article-card-home"></div>
                </div>
            </div>
        </section>
        <section id="sme-blogs">
            <div class="section-content">
                <div class="article-section-title"><a href="">SME Blogs ↗</a></div>
                <div class="article-section-items">
                    <div class="article-card-home"></div>
                    <div class="article-card-home"></div>
                    <div class="article-card-home"></div>
                </div>
            </div>
        </section>
        <section id="customer-case-studies">
            <div class="section-content">
                <div class="article-section-title"><a href="">Customer Case Studies ↗</a></div>
                <div class="article-section-items">
                    <div class="article-card-home"></div>
                    <div class="article-card-home"></div>
                    <div class="article-card-home"></div>
                </div>
            </div>
        </section>
    </main>
<%- include("./partials/footer.ejs") %>