/* main {
    padding-top: 3.9rem;
} */

.section-content {
    padding: 32px 3.33vw;
}


/* hero section */

#home-hero {
    height: 720px;
    /* background-color: #3153a4; */
    background-color: #385B7D;
}

.home-hero-title {
    display: inline-block;
    background-color: white;
    color: #00388A;
    font-weight: 900;
    font-size: 3.25rem;
    box-shadow: 8px 8px #00388A;
    padding: 4px;
    margin: 32px 0px;
}

.home-hero-subtitle {
    display: inline-block;
    width: 50vw;
    color: white;
    font-weight: 800;
    font-size: 1.75rem;
}

.home-hero-content {
    padding-top: 320px;
}

#what-we-do,
#ordermonkey,
#latest-updates,
#customer-case-studies {
    background-color: white;
}

#selected-customers,
#strategic-partners,
#sme-blogs {
    background-color: #F6F6F6;
}

#what-we-do,
#selected-customers {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.slides-left,
.slides-right {
    color: #424242;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.slide-content {
    /* padding: 20px 1.5vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.slide-subtitle {
    font-size: 2rem;
}

.slide-title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px 0;
}

.slide-logo {
    width: 440px;
    height: 360px;
    background-color: #D9D9D9;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px, 1.5vw;
}

.sliding-arrow {
    /* background-color: teal; */
    color: #424242;
    opacity: 50%;
    font-size: 2.5rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.slides-index {
    display: flex;
    justify-content: center;
    /* background-color: teal; */
    /* padding-top: 32px; */
}

#what-we-do div.section-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}