main {
    padding-top: 63px;
}

.section-content {
    padding: 0px 64px;
}


/* hero section */

.hero-bg {
    width: 100vw;
    height: 720px;
    /* background-color: #3153a4; */
    background-color: #385B7D;
}

.home-hero-title {
    background-color: white;
    color: #00388A;
    font-weight: 900;
    font-size: 3.25rem;
    box-shadow: 8px 8px #00388A;
    padding: 4px;
    margin: 32px 0px;
}

.home-hero-subtitle {
    color: white;
    font-weight: 800;
    font-size: 1.75rem;
}

.home-hero-content {
    padding-top: 320px;
}