@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}

.logo-small {
    height: 52px;
}

.navlinks {
    list-style: none;
    display: flex;
}

.navlinks li {
    font-weight: bold;
    color: #424242;
    padding: 20px;
}

.navlinks li:hover {
    background-color: #ECECEC;
}

.navlinks li a {
    text-decoration: none;
    color: inherit;
}


li.active-navlink,
li.active-navlink:hover {
    background-color: #0053A2;
    color: white;
}

.unclickable {
    pointer-events: none;
}

.navsublinks {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: -20px;
    visibility: hidden;
}

.navsublinks li {
    padding: 20px;
}

li:hover ul.navsublinks {
    visibility: visible;
}

.navsublinks li a {
    text-decoration: none;
}