/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', Helvetica, sans-serif;
}

.nobullets {
    list-style: none;
}

.nobullets a {
    text-decoration: none;
    text-wrap: nowrap;
    overflow: hidden;
}

/* HEADER */

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 3.33vw;
    background-color: white;
}


/* Main Nav */

.logo-small {
    height: 52px;
}

.navlinks {
    display: flex;
    font-weight: bold;
    color: #424242;
    font-size: 0.75rem;
}


.navlinks a {
    display: block;
    /* padding: 24px 20px; */
    padding: 24px 1.5vw;
    color: inherit;
}

.navlinks a:hover {
    background-color: #ECECEC;
}

.active-navlink>a,
.active-navlink>a:hover {
    background-color: #0053A2;
    color: white;
}

/* Sub nav */

.navsublinks {
    position: absolute;
    display: none;
}

li:hover ul.navsublinks {
    display: block;
}

.navsublinks>li>a {
    background-color: white;
    color: #424242;
}

.navsublinks>li>a:hover {
    background-color: #ECECEC;
}

.navsublinks>.active-navlink>a {
    background-color: white;
    color: #0053A2;
    text-decoration: underline;
}

/* FOOTER */

footer {
    background-color: #464646;
    padding: 32px 3.33vw;
    color: white;
}

footer a {
    color: inherit;
}

.logo-footer {
    filter: saturate(0) brightness(100);
    height: 64px;
}

/* footer content */

.footer-content-block {
    font-weight: bold;
    display: flex;
    margin: 32px;
    gap: 64px;
    justify-content: center;
}

.footer-content-block ul {
    padding: 8px;
}

.footer-content-block li {
    padding: 4px;
}

/* footer copyright */

.footer-copyright-block,
.footer-tos,
.footer-tos div {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}

.footer-tos {
    gap: 48px;
}

.footer-tos div {
    gap: 24px;
}

.navbar-padding {
    background-color: teal;
    height: 3.9rem;
}